.row-container{
    margin-bottom: 8px;
    margin-top: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #fff;
    border-radius: 2px;
}

.row-heading {

    font-size: 18px !important;
    text-align: left !important;

}

.current-feed-container {
    min-height: 400px !important;
}

.room-icon {
    margin-right: 10px;
}
.nav-menu {
    border-right: 1px solid #a9a9a9;
}

.no-pad {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.vote-submit-button {
    border-radius: 4px;
    background: #a9a9a9;
    margin-top: 4px;
    color: white;
}